In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
files = os.listdir('outputs/')

In [3]:
test = pd.read_csv('outputs/' + files[0], skiprows=1, header=None)
print(files[0])

akaze_akaze

In [4]:
test.dropna(axis=1, inplace=True)
test.head()

    0       1       2  3       4
0  49  1.5777  9.7533  6  0.1850
1  51  2.7164  8.5469  6  0.0256
2  52  1.7044  6.6445  8  0.0299
3  46  1.6586  4.6554  8  0.0255
4  50  2.2988  4.9783  6  0.0281

In [5]:
columns = ['keypoints', 'time_to_detect', 'time_to_decribe', 'matches', 'time_to_match']
test.columns = columns
test['detector'] = 'akaze'
test['descriptor'] = 'akaze'
test.head()

,keypoints,time_to_detect,time_to_decribe,matches,time_to_match,detector,descriptor
0,49,1.5777,9.7533,6,0.1850,akaze,akaze
1,51,2.7164,8.5469,6,0.0256,akaze,akaze
2,52,1.7044,6.6445,8,0.0299,akaze,akaze
3,46,1.6586,4.6554,8,0.0255,akaze,akaze
4,50,2.2988,4.9783,6,0.0281,akaze,akaze

In [6]:
def load_summary(path):
    
    df = pd.read_csv('outputs/' + path, skiprows=1, header=None)
    df.dropna(axis=1, inplace=True)
    columns = ['keypoints', 'time_to_detect', 'time_to_decribe', 'matches', 'time_to_match']
    df.columns = columns
    summary = list(df.mean().values)
    summary.append(path.split('_')[0])
    summary.append(path.split('_')[1])
        
    return summary

In [7]:
data = []

for file in files[1:]:
    summary = load_summary(file)
    data.append(summary)
    print(file + ' loaded!')

akaze_brief loaded!
akaze_brisk loaded!
akaze_freak loaded!
akaze_orb loaded!
akaze_sift loaded!
brisk_brief loaded!
brisk_brisk loaded!
brisk_freak loaded!
brisk_orb loaded!
brisk_sift loaded!
fast_brief loaded!
fast_brisk loaded!
fast_freak loaded!
fast_orb loaded!
fast_sift loaded!
harris_brief loaded!
harris_brisk loaded!
harris_freak loaded!
harris_orb loaded!
harris_sift loaded!
orb_brief loaded!
orb_brisk loaded!
orb_freak loaded!
orb_orb loaded!
orb_sift loaded!
shi_brief loaded!
shi_brisk loaded!
shi_freak loaded!
shi_orb loaded!
shi_sift loaded!
sift_brief loaded!
sift_brisk loaded!
sift_freak loaded!
sift_orb loaded!
sift_sift loaded!

In [8]:
columns = ['keypoints', 'time_to_detect', 'time_to_decribe', 'matches', 'time_to_match', 'detector', 'descriptor']
df = pd.DataFrame(data=data, columns=columns)

In [9]:
df.groupby('detector').agg({'keypoints':'mean',
                            'time_to_detect':'mean'})

           keypoints  time_to_detect
detector
akaze      51.333333        3.973461
brisk       6.888889        8.881350
fast      102.444444        0.225727
harris     39.333333        2.681348
orb        51.333333        4.030308
shi       130.888889        2.102012
sift       51.333333        2.458447

In [10]:
df.groupby('descriptor').agg({'matches':'mean',
                              'time_to_match':'mean'})

              matches  time_to_match
descriptor
brief       24.047619       0.124638
brisk       46.603175       0.213655
freak       18.317460       0.128582
orb         18.777778       0.138835
sift        61.920635       0.207571

In [11]:
df.to_csv('summary.csv')